servicespoc/src/main/mule/servicespoc.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:wsc="http://www.mulesoft.org/schema/mule/wsc"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/wsc http://www.mulesoft.org/schema/mule/wsc/current/mule-wsc.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="3ef0f859-deb1-4845-89b8-e70eb61f682d" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<http:request-config name="HTTP_Request_configuration" doc:name="HTTP Request configuration" doc:id="450b9ed6-58df-407c-bb81-4c7ba5e6fcdf">
		<http:request-connection host="api.openweathermap.org/data/2.5/weather?q=London" />
	</http:request-config>
	<wsc:config name="Web_Service_Consumer_Config" doc:name="Web Service Consumer Config" doc:id="f593b500-806f-4a4b-8fac-966468945563" >
		<wsc:connection wsdlLocation="http://www.dneonline.com/calculator.asmx?wsdl" service="Calculator" port="CalculatorSoap" address="http://www.dneonline.com/calculator.asmx" />
	</wsc:config>
	<sub-flow name="SOAPService" doc:id="c85f9130-ecc4-4fc2-8e53-57df30883094" >
		<set-payload value='{"inta" : 5, "intb" : 15}' doc:name="Set Payload" doc:id="eee14110-d223-4b38-aefe-7468153e184f" mimeType="application/json" />
		<ee:transform doc:name="Transform Message" doc:id="559adc3e-e88e-496a-894c-3d1bf4ce1246">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/xml
ns ns0 http://tempuri.org/
---
{
	ns0#Add: {
		ns0#intA: payload.inta,
		ns0#intB: payload.intb
	}
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
		<wsc:consume operation="Add" doc:name="Consume" doc:id="aa7f3914-fd8e-45c0-b280-fd54d615e00f" config-ref="Web_Service_Consumer_Config">
				</wsc:consume>
		<logger level="INFO" doc:name="Logger" doc:id="3564abf3-c01f-49fa-9f7c-e44d3a1aeafb" message="#[payload]" />
	</sub-flow>
	<sub-flow name="RESTService" doc:id="372f8f1c-52b2-4ec4-ac3a-287bf1ed3883" >
		<http:request method="GET" doc:name="Request" doc:id="765dfe5f-bf1f-4059-8d6e-65b954dee6cd" config-ref="HTTP_Request_configuration" url="https://api.covid19india.org/data.json" />
		<logger level="INFO" doc:name="Logger" doc:id="2d0b7ede-3040-4be0-9106-945eeac97c96" message="#[payload]" />
	</sub-flow>
	<flow name="servicespocFlow" doc:id="856e85e0-22f3-40d8-8855-545b5245117f" >
		<scheduler doc:name="Scheduler" doc:id="4864fa5a-9eb3-4de3-a429-a361bc9afd93" >
			<scheduling-strategy >
				<fixed-frequency frequency="30" timeUnit="SECONDS"/>
			</scheduling-strategy>
		</scheduler>
		<flow-ref doc:name="Flow Reference" doc:id="c1eea21b-36e0-4107-8b10-cdc8c360c8b6" name="RESTService" />
		<flow-ref doc:name="Flow Reference" doc:id="e65e5283-f803-461d-9053-b7e6782a4bcf" name="SOAPService" />
	</flow>
</mule>
