data2aws3bucket/src/main/mule/data2aws3bucket.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:s3="http://www.mulesoft.org/schema/mule/s3" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/s3 http://www.mulesoft.org/schema/mule/s3/current/mule-s3.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="a197a2a3-3d8e-4c2f-b860-cd4ecbfc8736" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<s3:config name="Amazon_S3_Configuration" doc:name="Amazon S3 Configuration" doc:id="41b12c50-0905-43b1-ad98-6aeb9a44ce40" >
		<s3:basic-connection />
	</s3:config>
	<flow name="data2aws3bucketFlow" doc:id="2f9c7c00-7625-49ac-bb61-a942c9127e96" >
		<http:listener doc:name="Listener" doc:id="533580d9-7606-4550-8e15-9554b256b1cb" config-ref="HTTP_Listener_config" path="/aws3data"/>
		<logger level="INFO" doc:name="Logger" doc:id="2280f7e8-c8ee-4b1a-b9e8-3f2934d7012e" message="#[payload]"/>
		<s3:create-object doc:name="Create object" doc:id="946dc692-1557-47fb-852c-b96d3716f9db" config-ref="Amazon_S3_Configuration" bucketName="BucketName" key="#['file_' ++ (now() as String {format: 'yyyy-MM-dd-hh-mm-ss'}) ++ '.txt']"/>
	</flow>
</mule>
